<footer class="footer py-3 mt-5 shadow">
    <div class="container">
        <div class="row">
            <!-- Left Column: Last Updated -->
            <div class="col-12 col-md-4 text-center text-md-left mb-2 mb-md-0">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                </div>
            </div>

            <!-- Center Column: Copyright and Widget -->
            <div class="col-12 col-md-4 text-center mb-2 mb-md-0">
                <div class="text-muted">
                    Copyright &copy; 2021 Yuan He
                </div>
                <div class="widget-container mx-auto mt-2" style="width: 150px; height: 100px;">
                    <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=150&t=tt&d=1BsW3T6RfuLX5lSgzpKw1WesAs8K2Rnfy6xdm91Z9Y4&co=ffffff&ct=808080&cmo=9e9e9e&cmn=8c6baf'></script>
                </div>
            </div>

            <!-- Right Column: Custom Text -->
            <div class="col-12 col-md-4 text-center text-md-right mb-2 mb-md-0">
                <div class="text-muted">
                    {{ site.data.display.footer_text }}
                </div>
            </div>
        </div>
    </div>
</footer>
