<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top mb-5 shadow-sm">
    <div class="container">
        <a class="navbar-brand"><strong>{{site.data.profile.navbar_name}}</strong></a>
        <button class="navbar-toggler" style="font-size: 1em; padding: 0.5em;" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-map"></i> Menu
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.navigation.pages %}
                {% if item.subpages %}
                <!-- Dropdown Menu for pages with subpages -->
                <li class="nav-item dropdown {% if item.name == page.navbar_title %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ forloop.index }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ item.name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ forloop.index }}">
                        {% for subitem in item.subpages %}
                        <a class="dropdown-item" href="{{ subitem.url | relative_url }}">{{ subitem.name }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% else %}
                <!-- Regular Link for pages without subpages -->
                <li class="nav-item {% if item.name == page.navbar_title %}active{% endif %}">
                    <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
