{% assign item = include.item %}
<!-- Desktop View -->
<div class="d-none d-md-block">
    <div class="row no-gutters border-bottom border-gray">
        <div class="col-md-12 p-3">
            <!-- Post Title -->
            <h5 class="font-weight-normal">
                <a href="{{ item.url }}" class="text-dark">{{ item.title }}</a>
            </h5>

            <!-- Post Excerpt -->
            <p class="text-muted">
                {{ item.excerpt }}
            </p>

            <!-- Post Tags (Optional) -->
            {% if item.tags and item.tags.size > 0 %}
            <p class="small">
                {% for tag in item.tags %}
                <span class="badge badge-light">{{ tag }}</span>
                {% endfor %}
            </p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Mobile View -->
<div class="card w-100 d-md-none border-top-0 border-right-0 border-left-0 rounded-0">
    <div class="p-3" style="background-color: rgba(255, 255, 255, 0.85);">
        <!-- Mobile Version Post Title -->
        <h5 class="font-weight-normal">
            <a href="{{ item.url }}" class="text-dark">{{ item.title }}</a>
        </h5>

        <!-- Mobile Version Post Excerpt -->
        <p class="text-muted">
            {{ item.excerpt }}
        </p>

        <!-- Mobile Version Post Tags (Optional) -->
        {% if item.tags and item.tags.size > 0 %}
        <p class="small">
            {% for tag in item.tags %}
            <a href="/tags/{{ tag | downcase | slugify }}/" class="badge badge-light">{{ tag }}</a>
            {% endfor %}
        </p>
        {% endif %}
    </div>
</div>
