{% assign item = include.item %}
<div class="d-none d-md-block">
    <div class="row no-gutters border-bottom border-gray">
        <div class="col-md-9 p-3">
            <!-- Presentation Title -->
            <h5 class="font-weight-normal">
                <a href="{{ item.presentation_link }}" class="text-dark">{{ item.title }}</a>
            </h5>

            <!-- Presentation Excerpt -->
            <p class="text-muted">
                {{ item.excerpt }}
            </p>

            <!-- Post Tags (Optional) -->
            {% if item.tags and item.tags.size > 0 %}
            <p class="small">
                {% for tag in item.tags %}
                <span class="badge badge-light">{{ tag }}</span>
                {% endfor %}
            </p>
            {% endif %}

            <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
                {% for link in item.links %}
                {% if link[1].url %}
                <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">[{{ link[0] }}]</a>
                {% else %}
                <a target="_blank" href="{{ link[1] }}">[{{ link[0] }}]</a>
                {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
</div>

<!-- Mobile View -->
<div class="card w-100 d-md-none border-top-0 border-right-0 border-left-0 rounded-0">
    <div class="p-3" style="background-color: rgba(255, 255, 255, 0.85);">
        <!-- Mobile Version Presentation Title -->
        <h5 class="font-weight-normal">
            <a href="{{ item.presentation_link }}" class="text-dark">{{ item.title }}</a>
        </h5>

        <!-- Mobile Version Excerpt -->
        <p class="text-muted">
            {{ item.excerpt }}
        </p>

        <!-- Mobile Version Post Tags (Optional) -->
        {% if item.tags and item.tags.size > 0 %}
        <p class="small">
            <strong>Tags:</strong>
            {% for tag in item.tags %}
            <a href="/tags/{{ tag | downcase | slugify }}/" class="badge badge-light">{{ tag }}</a>
            {% endfor %}
        </p>
        {% endif %}

        <!-- Links -->
        <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
            {% for link in item.links %}
            {% if link[1].url %}
            <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">[{{ link[0] }}]</a>
            {% else %}
            <a target="_blank" href="{{ link[1] }}">[{{ link[0] }}]</a>
            {% endif %}
            {% endfor %}
        </p>
    </div>
</div>

