<div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col">
                        <div class="h1 font-weight-normal">
                            {{ site.data.profile.primary_name }} 
                            <span class="secondary-name">
                                <small><small>({{ site.data.profile.secondary_name }})</small></small>
                            </span>
                        </div>
                        <style>
                            .secondary-name {
                                font-family: 'yuji-mai-regular', serif; /* Move font style here */
                                margin-left: 5px; /* Add some space between the primary and secondary name */
                                color: #575656; /* Light grey for secondary name */
                            }
                        </style>
                        <div class="text-profile-position">
                            {% for position in site.data.profile.positions %}
                            {% if position.logo -%}
                            <img src="{{ position.logo | relative_url }}" alt="Logo" class="inline-badge"/>
                            {%- endif %}
                            <big>{{ position.name }}</big><br/>
                            {% endfor %}
                        </div>
                        <div class="text-profile-bio mt-3">
                            {{ site.data.profile.short_bio }}
                        </div>
                        {% if site.data.profile.cv_link %}
                            <a target="_blank" href="{{ site.data.profile.cv_link }}"><i class="fas fa-file-alt"></i> Curriculum Vitae</a> <br/>
                        {% endif %}
                    </div>
                    {% if site.data.profile.portrait_url %}
                    <div class="col-md-auto">
                        <figure class="figure">
                            <img 
                                src="{{ site.data.profile.portrait_url | relative_url }}" 
                                class="figure-img img-fluid img-thumbnail" 
                                style="height: 300px;"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="{{ site.data.profile.portrait_caption }}"
                            >
                            <figcaption class="figure-caption text-right"></figcaption>
                        </figure>
                    </div>
                    {% endif %}
        
                </div>
                <hr />
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-wrap align-items-center">
                            <a class="pr-3 pb-2 no-break d-flex align-items-center" href="mailto:{{ site.data.profile.email | encode_email }}">
                                <i class="fas fa-at mr-1"></i> <span class="email-text">{{ site.data.profile.email | replace: "@", "(at)" }}</span>
                            </a>
                
                            {% if site.data.profile.gscholar %}
                            <a class="pr-3 pb-2 no-break d-flex align-items-center" target="_blank" href="https://scholar.google.com/citations?user={{ site.data.profile.gscholar }}&hl=en">
                                <i class="fab fa-google-scholar mr-1"></i> Google Scholar
                            </a>
                            {% endif %}
                
                            {% if site.data.profile.sscholar %}
                            <a class="pr-3 pb-2 no-break d-flex align-items-center" target="_blank" href="https://www.semanticscholar.org/author/{{ site.data.profile.sscholar }}">
                                <i class="ai ai-semantic-scholar mr-1"></i> Semantic Scholar
                            </a>
                            {% endif %}
                            
                            {% if site.data.profile.github %}
                            <a class="pr-3 pb-2 no-break d-flex align-items-center" target="_blank" href="https://github.com/{{ site.data.profile.github }}">
                                <i class="fab fa-github mr-1"></i> GitHub
                            </a>
                            {% endif %}
                
                            {% if site.data.profile.linkedin %}
                            <a class="pr-3 pb-2 no-break d-flex align-items-center" target="_blank" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">
                                <i class="fab fa-linkedin mr-1"></i> LinkedIn
                            </a>
                            {% endif %}
                
                            {% if site.data.profile.twitter %}
                            <a class="pr-3 pb-2 no-break d-flex align-items-center" target="_blank" href="https://twitter.com/{{ site.data.profile.twitter }}">
                                <i class="fab fa-twitter mr-1"></i> Twitter
                            </a>
                            {% endif %}
                
                            {% if site.data.profile.orcid %}
                            <a class="pr-3 pb-2 no-break d-flex align-items-center" target="_blank" href="https://orcid.org/{{ site.data.profile.orcid }}">
                                <i class="fab fa-orcid mr-1"></i> ORCID
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

